#root {
  padding: 30px;
  font-family: "Open Sans", sans-serif !important;
}
body {
  background: #2d3436 !important;
}
.link {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #fff !important;
  margin-right: 30.5px !important;
  text-decoration-line: none !important;
}

nav > a.active {
  text-decoration-line: underline;
}

nav {
  background: #74b9ff;
  padding: 20px;
  border-radius: 20px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 0;
  margin-bottom: 18px;
}

hr {
  border: none;
  border-top: 1px solid #979797;
  margin: 20px 0;
}

input[type="submit"] {
  background: #74b9ff;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 10px 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
}

input,
select {
  font-family: "Open Sans", sans-serif;
  background: #636e72;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 7px 9.5px 9px 9.5px;
  outline: none;
  color: aliceblue;
  font-size: 14px !important;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.contact {
  margin: 0;
  font-size: 14px;
  margin-bottom: 4px;
}

.contact.contact-title {
  font-weight: bold;
}

.contact-container {
  margin-bottom: 20px;
}
