.contact-container{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    padding: 5px;
    background-color: var(--color-background);
    border-radius: 10px;
    justify-content: space-between;
    box-shadow: -2px 2px 5px var(--color-shadow);
}
.section{
    width: 100%;
    margin: 0;
    padding: 0;
}