h1,
label {
  color: #0984e3;
  font-weight: 900;
}
h1 {
  padding: 10px auto;
  font-size: 16px;
  font-weight: bold;
}
h2 {
  color: #0984e3;
  font-size: 20px;
  font-weight: 900;
}
h4 {
  color: var(--color-foreground);
  font-size: 16px;
}
h5 {
  color: var(--color-foreground);
  font-size: 14px;
}

Button {
  height: 40px;
}
hr{
  color: var(--color-foreground);
}
form {
  box-shadow: -1px 1px 2px var(--color-shadow);
  padding: 10px;
  border-radius: 10px;
}
